body{
    width: 800px;
    margin: 0 auto;
}

#video{
    display: grid;
    grid-template-columns: 1fr 1fr;
    columns: 1em;
    width: 100%;
    padding: 10px;
}

video{
    width: 100%;
    border: 2px solid greenyellow;
    background-color: rgb(63, 63, 62);
}

textarea{
    height: 50px;
    width: 100%;
}

@media screen and (max-width:800px) {
    body{
        width: 100%;
    }
}

